/* @override http://localhost:8888/redesign.marcoliverteschke.de/css/screen.css */

/*****Basic Elements*****/
body{
	background-color: #e5d9be;
	background-image: url('../gfx/footer_bg.png');
	font-family: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif;
	font-size: 80%;
}

body *{
	color: #5a4a43;
}

a:hover{
	color: inherit;
}

ul{
	margin-left: 0;
}


/*****Generic Classes*****/


/*****Basic Layout*****/
#content{
	background-image: url('../gfx/content_bg.png');	
	padding: 3em 0;
}

.container{
}


/*****Header*****/
#header{
	background-image: url('../gfx/header_bg.png');
	padding: 3em 0;
}

#header .headline{
	margin: 0 auto;
	width: 950px;
}

#header h1{
	color: #e5d9be;
}


/*****Content*****/
.box_content{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: rgba(255, 243, 213, 0.2);
	padding: 10px;
	-webkit-transition: background-color .2s ease-in;
}

.box_content:hover{
	background-color: rgba(255, 243, 213, 0.5);
	box-shadow: 0px 1px 4px #888;
	-webkit-box-shadow: 0px 1px 4px #888;
	-moz-box-shadow: 0px 1px 4px #888;
	-webkit-transition-timing-function: ease-out;
}

.box_content h2 a{
	text-decoration: none;
}


/*****Footer*****/
#footer{
	padding-top: 1.5em;
}

#footer, #footer *{
	color: #e5d9be;
}

#footer h2{
	font-size: 1.5em;
}

.copyright{
	padding: 1em 0;
	text-align: center;
}


/*****Etc*****/
#flickr_www{
	margin-bottom: 1em;
	text-align: center;
}

#flickr_badge_image2 img{
	margin: 1em 0;
}

.tweet{
	margin-bottom: 1em;
}

.date{
	font-size: .9em;
	font-style: italic;
}

.post h3{
	margin-bottom: .5em;
}