/* @override 
	http://localhost:8888/redesign.marcoliverteschke.de/css/screen.css
	http://www.marcoliverteschke.de/css/screen.css
*/

/*****Basic Elements*****/
body{
	background-color: #e5d9be;
	background-image: url('../gfx/footer_bg.png');
	color: #5a4a43;
	font-family: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif;
	font-size: 90%;
}

h1, h2, h3, a{
	color: #5a4a43;
}

a:hover{
	color: inherit;
}

img, a img{
	border: 1px solid #5a4a43;
}

address{
	font-style: normal;
}

li {
	margin-bottom: .5em;
}


/*****Generic Classes*****/


/*****Basic Layout*****/
#content{
	background-image: url('../gfx/content_bg.png');	
	padding: 3em 0;
}


/*****Header*****/
#header{
	background-image: url('../gfx/header_bg.png');
	padding: 3em 0;
}

#header .headline{
	margin: 0 auto;
	width: 950px;
}

#header h1 a{
	color: #e5d9be;
	text-decoration: none;
}


/*****Content*****/
.box_content{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: rgba(255, 243, 213, 0.2);
	padding: 10px;
	-webkit-transition: background-color .2s ease-in;
}

.box_content:hover{
	background-color: rgba(255, 243, 213, 0.5);
	box-shadow: 0px 1px 4px #888;
	-webkit-box-shadow: 0px 1px 4px #888;
	-moz-box-shadow: 0px 1px 4px #888;
}

.box_content h2 a{
	text-decoration: none;
}

#flickr_badge_wrapper img {
	border: 1px solid black !important;
	display: block;
	margin: 1em auto 1em auto;
}

#flickr_www {
	color:#3993ff;
	display:block;
	font: 11px Arial, Helvetica, Sans serif;
	margin-bottom: 1em;
	padding:0 10px 0 10px;
	text-align: center;
}

#flickr_badge_uber_wrapper a:hover, #flickr_badge_uber_wrapper a:link,
#flickr_badge_uber_wrapper a:active,
#flickr_badge_uber_wrapper a:visited {
	background:inherit;
	color:#3993ff;
	text-decoration:none;
}


.tweet{
	margin-bottom: 1em;
}

.date{
	font-size: .9em;
	font-style: italic;
}

.post h3{
	margin-bottom: .5em;
}

.project{
	margin: 0 auto 1.5em auto;
	width: 150px;
}



/*****Footer*****/
#footer{
	padding-top: 1.5em;
}

#footer, #footer *{
	color: #e5d9be;
}

#footer h2{
	font-size: 1.5em;
}

.copyright{
	padding: 1em 0 3em 0;
	text-align: center;
}

.about_2{
	padding-top: 3.3em;
}


/*****Etc*****/



